@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: Courier Prime Code;
    font-size: 12px;
    border-radius: 0px;
    /* :[ */
    min-height: 0px;
    padding: 1px 0px 0.5px 0px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    color: @foreground;
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
    /* color: @background; */
}

.modules-left {
}

#window {
    color: @foreground;
    background-color: @background;
    padding-left: 4px;
}

.modules-right {
    background-color: @background;
}
#tray button {
    padding-left: 4px;
}

#cpu {
    color: @color1;
}
#memory {
    color: @color2;
}
#pulseaudio {
    color: @color3;
}
#backlight {
    color: @color4;
}
#temperature {
    color: @color5;
}
#battery {
    color: @color6;
}
#clock {
    color: @color7;
}
